<h2 class="text-center pb-2"><i class="fas fa-paste text-secondary"></i> Ocorrências</h2>

<%= form_tag occurrences_path, method: :get do %>
    Pesquisa por embarcação:
    <%= text_field_tag :query_ship,
      params[:query_ship],
      class: "form-control",
      placeholder: "Nome, registro ou porto de registro"
    %>
     <div class="text-center p-4">
      <%= submit_tag "Pesquisar", class: "btn btn-primary text-white mr-2 mb-2" %>
      <%= link_to "Limpar Pesquisa", request.path, class:"cancel-button btn btn-primary text-white mb-2 mr-2" %>
      <%= link_to 'Criar ocorrência', new_user_occurrence_path(current_user), class:"btn btn-info mr-2 mb-2" %>
    </div>
<% end %>

<div id="map"
     style="width: 100%; height: 420px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="text-center p-4">
  <%# <%= link_to 'Criar ocorrência', new_user_occurrence_path(current_user), class:"btn btn-primary text-white mt-2 mb-2" %>
  <%= link_to 'Voltar', :back, class:"btn btn-warning text-white mt-2 ml-2 mb-2" %>
</div>

<h3 class="text-center pb-2 mb-3"><i class="fas fa-paste"></i> Últimas Ocorrências</h3>

<% @occurrences.each do |occurrence| %>
  <div class="card p-3 mb-3">
    <div class="d-flex justify-content-between text-dark">
      <h5> <strong>#</strong><%=occurrence.ship.name%> </h5>
      <h5> <strong><%= occurrence.date.strftime("%d/%m/%Y")%></strong></h5>
    </div>
    <%=link_to "Detalhes", occurrence_path(occurrence), class: "btn btn-primary text-white m-4"%>
  </div>
<% end %>
