<h2 class="text-center"><i class="fas fa-map-marker-alt"></i> Criar ocorrência</h2>
<p id="position" class="text-center"></p>

<%= simple_form_for [current_user, @occurrence] do |f| %>
  <div id="new-form">
    <%= f.input :occurrence_date, as: :date, label: 'Data', :order => [:day, :month, :year] %>
    <%=f.input :occurrence_time, label: 'Hora', as: :string, input_html: { value: Time.now.strftime("%H:%M:%S") }%>
    <%=f.association :ship, label: 'Embarcação'%>
    <%=f.input :ship_origin, label: 'Origem', placeholder: 'Origem'%>
    <%=f.input :ship_destination, label: 'Destino', placeholder: 'Destino'%>
    <%=f.input :occurrence_type, label: 'Descrição', as: :text %>
  </div>
  <%= f.button :submit, "Criar ocorrência", class:"btn btn-success btn-lg mb-2 pr-4 pl-4 mr-2" %>
  <%= link_to "Voltar", :back, class:"btn btn-warning btn-lg mb-2" %>
<% end %>
