<h2 class="page-title mb-2 text-center"><i class="fa-solid fa-location-dot text-secondary"></i> Criar ocorrência</h2>
<p id="position" class="text-center"></p>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet'/>

<div id="map-new-point" class="mb-4"
     style="width: 100%; height: 300px;"> </div>

<%= simple_form_for([ current_user, @occurrence ], remote: true) do |f| %>
  <div id="new-form">
    <%#= f.input :latitude, label: 'Latitude', required: true %>
    <%#= f.input :longitude, label: 'Longitude', required: true %>
    <%= f.input :occurrence_date, label: 'Data', :order => [:day, :month, :year], required: true, as: :date  %>
    <%= f.input :occurrence_time, label: 'Hora', as: :string, input_html: { value: Time.now.strftime("%H:%M:%S") }, as: :time %>
    <%= f.input :occurrence_type, label: 'Tipo de ocorrência', as: :string, required: true %>
    <%= f.input :ship_origin, label: 'Origem', as: :string, required: true %>
    <%= f.input :ship_destination, label: 'Destino', as: :string, required: true %>
  </div>

  <%= f.button :submit, "Criar ocorrência", class:"btn btn-primary mb-2 mr-2" %>
  <%= link_to "Voltar", :back, class:"btn btn-info mb-2" %>
<% end %>
